.blog-card {
  height: 200px;
  margin: 2rem 0;
  &__name {
    font-weight: 800;
    font-size: 1rem;
  }
  &__title {
    font-weight: 700;
    font-size: 1.5rem;
  }
  &__desc {
    color: $color-gray;
    font-weight: 700;
  }
  &__link {
    color: $color-secondary;
    font-size: 1.1rem;
    text-decoration: underline;
  }
}
