.blog-cards {
  display: grid;
  grid-template-columns: 0.33fr 0.33fr 0.33fr;
  gap: 1.5rem;
}

.blog-card {
  overflow: hidden;
  height: 450px;
  width: 100%;
  margin: 2rem auto;
  border: 2px solid $color-secondary;
  box-shadow: 7px 7px $color-secondary;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  &__name {
    font-size: 1rem;
  }
  &__title {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  &__desc {
    color: $color-gray;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__highlight {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    color: $color-secondary;
    font-size: 1.1rem;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 900px) {
  .blog-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  .blog-card {
    height: 300px;

    &__highlight {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media only screen and (max-width: 750px) {
  .blog-card {
    height: 400px;
  }
}
