* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

main {
  margin: 3rem 10rem;
}

@import "./utils";
@import "./nav";
@import "./login";
@import "./home";
@import "./blog";
@import "./form";
@import "./blog-detail";
